body {
    background-color: #222;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h1 {
    text-align: center;
}

.editor {
    width: 1000px;
    margin: auto;
}

.output-area {
    max-width: 800px;
    margin: 2em auto; 
}

#output {
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    font-size: large;
}