body {
    background-color: #222;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h1 {
    text-align: center;
}

main {
    width: 800px;
    margin: auto;
}

.output-area {
    max-width: 800px;
    margin: 2em auto; 
}

#output {
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #eee;
    color: black;
    font-size: large;
}

#share {
    min-width: 10em;
    margin: 1em 0;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}

#share:hover {
    cursor: pointer;
    background-color: #ddd;
}

#share:active {
    background-color: #fff;
}