* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family:'Courier New', Courier, monospace;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
    text-align: center;
}

.game {
    width: 1000px;
    margin: auto;
}

#intro {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 600px;
    transform: translate(-50%, -50%);
    padding: 5em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.9);
    color: white;
    font-size: large;
}

#intro.closed {
    display: none;
}